.vscode/
.idea/
input/
others/
dataset/
dataset/**.tfrecord
dataset/*.tfrecord
input/**.tfrecord
input/*.tfrecord
data/**.tfrecord
data/*.tfrecord
**.zip
*.zip
.vs/
audio/akuapem
audio/asante
audio/ewe
audio/hausa
audio/samples
audio/
others/
TTS/
venv/
my_venv/
models/raw_aud/
models/detection/
models/pt/
models/pth/
onnx-tensorflow/